.cart-dropdown {
  position: absolute;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 85px;
  right: 30px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .cart-item {
      font-size: 14px;
      padding: 10px 2px;
      border-bottom: 1px solid #dfdfdf;
      width: 100%;
    }
  }

  button {
    margin-top: auto;
  }
}
