.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 60px;
    padding: 0px 15px;
    background: inherit;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;

      .cart-icon {
        height: 35px;
        width: 35px;
        
      }

      &.cart-link {
        background: inherit;
      }
    }
  }
}
