body {
    
    * {
        color: #696969;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        transition: all 350ms ease-in-out;
        
        &:hover {
            color: #fff;
            background: #444;
        }
    }

    .app-content {
        min-height: 100vh;
    }

}